@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --secondary: #16a34a;
  --accent-red: #dc2626;
  --accent-yellow: #facc15;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}
@media print {
  body * {
    visibility: hidden;
  }
  #official-print-layout, #official-print-layout * {
    visibility: visible;
  }
  #official-print-layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
  }
  /* Force hide all MUI overlays */
  .MuiDialog-root, .MuiBackdrop-root, .MuiPopover-root {
    display: none !important;
  }
  /* Preserve colors and images */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
